DEVELOPMENT=true
CLIENT_DEST_PATH=C:\Users\felip\repos\FiveM-txData\CFXDefaultFiveM_C8B072.base\resources\[gamemodes]\adrp-client
WEBVIEWS_DEST_PATH=C:\Users\felip\repos\FiveM-txData\CFXDefaultFiveM_C8B072.base\resources\[gamemodes]\adrp-webviews
CLIENT_SOURCE_PATH=C:\Users\felip\repos\FiveM-txData\CFXDefaultFiveM_C8B072.base\resources\[gamemodes]\adrp-client\**\*.js
